{% extends 'base.html.twig' %}

{% block title %}Liste des joueurs{% endblock %}

{% block body %}
<h1>Les joueurs</h1>

<div class="actions-bar">
    <a href="{{ path('player_create') }}" class="btn btn-primary">+ Ajouter un joueur</a>
</div>

<table>
    <thead>
        <tr>
            <th>Joueur</th>
            <th>Équipe</th>
            <th>Date de naissance</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td><a href="{{ path('player_show', {id: player.id}) }}"><strong>{{ player.firstName }} {{ player.lastName }}</strong></a></td>
            <td>{{ player.team.name }}</td>
            <td>{{ player.birthDate|date('d/m/Y') }}</td>
            <td class="td-actions">
                <a href="{{ path('player_edit', {id: player.id}) }}" class="btn btn-secondary">Modifier</a>
                <a href="{{ path('player_delete', {id: player.id}) }}" class="btn btn-delete" onclick="return confirm('Supprimer ce joueur ?')">Supprimer</a>
            </td>
        </tr>
        {% else %}
        <tr><td colspan="4" class="td-empty">Aucun joueur trouvé.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
