{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
<h1>Les événements</h1>

<a href="{{ path('event_create') }}">+ Ajouter un événement</a>

<ul>
    {% for event in events %}
        <li>
            <a href="{{ path('event_show', {id: event.id}) }}">
                {{ event.title }}
            </a>
            — {{ event.type }}
            — {{ event.eventDate|date('d/m/Y') }}
            — Coach : {{ event.coach.name }}
        </li>
    {% else %}
        <li>Aucun événement trouvé.</li>
    {% endfor %}
</ul>
{% endblock %}