<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Stade Bordeaux{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        {# Menu de navigation principal #}
        <nav>
            <a href="{{ path('dashboard') }}"><strong>Stade Bordeaux</strong></a>
            &nbsp;|&nbsp;
            <a href="{{ path('team_list') }}">Équipes</a>
            &nbsp;|&nbsp;
            <a href="{{ path('coach_list') }}">Coachs</a>
            &nbsp;|&nbsp;
            <a href="{{ path('event_list') }}">Événements</a>
            &nbsp;|&nbsp;
            <a href="{{ path('message_list') }}">Messages</a>
            &nbsp;|&nbsp;
            <a href="{{ path('responsable_list') }}">Responsables</a>
            &nbsp;|&nbsp;
            <a href="{{ path('player_list') }}">Joueurs</a>
        </nav>

        <hr>

        {# Contenu de chaque page #}
        {% block body %}{% endblock %}

    </body>
</html>